PORT=
MONGO_URI=

CLINIC_ACCESS_TOKEN_SECRET=
CLINIC_ACCESS_TOKEN_EXPIRY=

USER_ACCESS_TOKEN_SECRET=
USER_ACCESS_TOKEN_EXPIRY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL=
EMAIL_PASSWORD=

GOOGLE_CLIENT_ID=